<div  class="w-full h-full">
  <div class="flex justify-between items-start pt-[21px] pe-[21px]">
    <div class="w-[67.37px] h-[20.28px] pl-[21px] ">
      <form class="relative">
        <select id="countries" class="w-full p-1 rounded-md font-neoSans text-[12.11px] font-normal leading-[16.96px] text-right border border-[#E8E8E8] appearance-none ">
          <option selected>سنويا</option>
          <option value="شهريا">شهريا</option>
          <option value="شهريا">شهريا</option>
          <option value="شهريا">شهريا</option>
        </select>
        <div class="absolute inset-y-0 left-1 flex  pointer-events-none">
          <img src="assets/icons/arrowSelect.svg" alt="">
        </div>
      </form>
    </div>

    <div class="flex flex-col">
      <p  class="font-neoSans text-[14px]  font-normal leading-[12.9px] text-end">إحصائيات إستخدام القسيمة</p>
      <form class="relative">
        <select id="countries" class="bg-[#ffffff] w-full p-1 rounded-md font-neoSans text-[12.11px] font-normal leading-[16.96px] text-[#99A1B7] text-right  appearance-none pl-4 ">
          <option selected>
             05 <span class="font-neoSans text-[14px] font-normal leading-[12.9px] text-center">يوليو </span> , 2023 - 05 أغسطس , 2023
          </option>
          <option value="شهريا">
            05 <span class="font-neoSans text-[14px] font-normal leading-[12.9px] text-center">يوليو </span> , 2023 - 05 أغسطس , 2023

          </option>

        </select>
        <div class="absolute inset-y-0 left-0 flex  pointer-events-none">
          <img src="assets/icons/arrowSelect.svg" alt="">
        </div>
      </form>

    </div>
  </div>


  <div #chartContainer class="h-60 w-full "></div>



</div>
